[submodule "API-5-FRONT"]
	path = API-5-FRONT
	url = https://github.com/Sync-FATEC/API-5-FRONT.git
[submodule "API-5-BACK"]
	path = API-5-BACK
	url = https://github.com/Sync-FATEC/API-5-BACK.git
[submodule "API-5-WEB"]
	path = API-5-WEB
	url = https://github.com/Sync-FATEC/API-5-WEB.git
